.formControl {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

.formControl label {
    font-weight: bold;
    padding-bottom: .6em;
}

.formControl input {
    padding: .7em;
    border-radius: 0;
    border: none;
}

.formControl input::placeholder {
    color: #7b7b7b;
}
